.container {
    display: flex;
}
.container_img img {
    width: 200px;
}
.input {
    padding: 20px;
    border: 2px solid black;
    border-radius: 100px;
 
}
.button {
    margin-top: 20px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 90px ;
   

}   
